* {  /* сброс дефолтных стилей браузера */
    margin: 0; /* сброс внешних отступов*/
    padding: 0; /* сброс внутренних отступов*/
    box-sizing: border-box; /* включение альтернативной блочной модели*/
    font-size: 20px; /* размер шрифта */
    font-family: sans-serif; /* изменение шрифтов на шрифты без засечек */
}

.news {  /* обращаюсь к классу news */
    padding: 1.2em;
}

.site-header {
    background: #2264d2;
    padding: 2em 1em; /* внутренний отступ: 2em сверху и снизу, 1em справа и слева */
    color: #fff;  /* цвет текста */
    text-align: center; /* расположение текста по центру */
}

.card {
    width: 35%; /* 35% от ширины экрана */
    max-width: 310px;
    margin: 0.5em auto;  /* расположить посередине */
    text-align: center;

    border-bottom: 0.2em solid #f5f5f5;  /* серая рамка внизу */
    background: #e0e0e0;

    transition: 0.5s ease-in-out;
}

.card:hover { /* когда на карточку наводится мышь */
    border-bottom: 0.3em solid #fc5a5a;
}

.card-body {
    padding: 2em 0;
}

.card-header img {
    display: block;  /* картинка становится блоком */
    width: 100%; /* ширина 100% от ширины родительского блока (card-header) */
}

