.container {
    width: 300px;
    margin: 1em auto;
}

.block {
    margin-bottom: 10px;
    padding: 10px;
    border: 0.2em dashed #ccc;
    color: #fc5a5a;
}

.col1 {
    float: left;  /* float left - обтекание слева. */
    width: 65px;
    min-height: 50px;
    margin-right: 10px;
}

.col2 {
    float: left;
    width: 80px;
    min-height: 50px;
}

.col3 {
    width: 65px;
    min-height: 50px;
    float: right;
}

.footer {
    clear: both;
}
