* {
    margin: 0;  /* обнуляю внешние отступы*/
    padding: 0;  /* обнуляю внутренние отступы*/
    box-sizing: border-box; /* альтернативная блочная модель */
    font-family: sans-serif; /* шрифт без засечек */
}

/* стилизую шапку сайта */
.site-header {
    background: #2264d2;
    padding: 1em 0;
    text-align: center;
    font-size: 1.25em;
    color: white;
    font-weight: bold; /* сделать текст полужирным */
}

.menu li {  /* элементы меню */
    display: inline-block; /* элементы списка в строчку */
    margin-right: 2em;
}

.nav-link {
    text-decoration: none; /* убираю подчеркивание ссылки */
    color: white;
    transition: 0.5s ease-in-out;
    padding: 0.4em;
}

.nav-link:hover {  /* когда наводится курсор */
    border-radius: 1em;
    background: rgba(0, 0, 0, 0.2);
}




