/* чтобы стилизовать класс,
нужно написать точку, а затем название
класса
*/

.btn {
    text-decoration: none;  /* сбрасываю стилизацию ссылки */
    color: #6d984b;  /* выбираю цвет ссылки */
    border: 2px solid #6d984b; /* рамка: размер стиль цвет */
    border-radius: 1em;  /* сгладить углы на 1 условную единицу */
    padding: 0.5em;  /* внутренний отступ 1 у.е. */
}

/*
solid - сплошная линия
dotted - линия из кружочков
dashed - пунктир
*/

