div {
    width: 50%; /* ширина блока 50% от экрана */
    padding: 100px; /* внутренний отступ 100 пикселей */
    margin: 100px auto; /* расположить посередине, сверху и снизу по 100пикс отступ */
    background: #2264d2;
}

p {
    background: #ffeb5e;
}

a {  /* теперь ссылка становится блочным элементом */
    display: block; /* превращаю строчную ссылку в блочный элемент */
    padding: 10px;
    margin: 20px auto;
    background: green;
    width: 20%;
}

