* {  /* стили для всех элементов */
    font-size: 18px;
    /* ^ стандартный параметр */
}

.box {
    width: 50%;  /* ширина - 50% от размера экрана */
    border: 0.5em solid green;
    background-color: #0099ff;
    padding: 1.6em;
    margin: 2em; /* em - то же самое, что rem,
     но выставляется относительно стандартных настроек
     браузера.

     По умолчанию отступ в браузере прописан как 16 пикселей
     Значит отступ блока будет 16 * 2
     */
    font-size: 1.5rem;
    /* rem - относительная единица измерения.
     размер указывается относительно того,
     что ВЫ написали в стилях.
     во 2 строке написано: размер шрифта 18пикселей.
     Значит размер шрифта в боксе будет 18 * 1.5
     */
}

.alternative {
    box-sizing: border-box;
}

.d-block {
    display: block; /* свойство превращает элемент в блочный */
    width: 15%;
    margin: 1em auto; /* посередине страницы */
    padding: 1em;
}
/* если превратить элемент из строчного в блочный,
 на него начнет действовать свойство ширины и
 отступов. НО блочным элементам обязательно
 прописывать ширину. */

a {
    text-decoration: none;
    border: 0.25em solid red;
    color: red;
    transition: all 0.5s ease-in-out;
    /* transition позволяет анимировать изменение свойство
     в даном случае я пишу, что анимировать нужно ВСЕ (all),
     время работы анимации 0.5сек., стиль - плавный
     */
}

a:hover {  /* когда на ссылку наводится курсор */
    color: white;
    background: red;
    border-radius: 1em;
}
/* свойства, прописанные в псевдоклассе hover,
 будут работать только в тот момент, когда на
 кнопку наводится курсор */

